/feb_kaggle/tabular-playground-series-feb-2021
/feb_kaggle/my_dir
/feb_kaggle/home-data-for-ml-course
*.csv
.csv
.xml
.zip
*.xml

/.idea

.DS_Store
*.DS_Store
/*.DS_Store

/*.xml
/*.zip
.Rproj.user
minsu/.Rhistory
minsu/.RData
